<ion-view>
    <ion-content>

        <ion-list>
            <ion-item class="bar bar-header bar-dark">
                <div class="bar bar-header bar-dark">
                    <button class="button icon ion-ios-arrow-back" ng-click="goBack()"></button>
                    <h1 class="title">Add New</h1>
                </div>
            </ion-item>
            <ion-item>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Task" ng-model="title">
                    </label>
                    <button class="button button-small" ng-click="addTask(title, date, notes); goBack()">
                        Add task
                    </button>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <label class="item item-input">
                        <span class="input-label">Date</span>
                        <input type="date" ng-model="date">
                    </label>
                </div>
            </ion-item>
            <ion-item>
                <div>
                    <label class="item item-input">
                        <textarea rows="15" cols="50" placeholder="Description" ng-model="notes">
                        </textarea>
                    </label>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
