<ion-view view-title="TODO">
    <ion-content>
        <div>
            <h3 ng-click="test()"> Click to Test </h3>
        </div>
        <div>
            <ion-list ng-repeat="tasks in data.tasks | orderBy: 'added'">
                <ion-item on-swipe-left="deleteTask(tasks)" on-swipe-right="completeTask(tasks)" on-tap="getDetails(tasks)">{{ tasks.title }} {{ tasks.added | date}}
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center">
        <button class="button button-full button-large icon-center ion-document" ui-sref="newTask"></button>
    </ion-footer-bar>
</ion-view>
